<p style="color: green"><%= notice %></p>

<%= render @organization %>

<div class="flex space-x-2 ml-1">
  <% if admin_for?(@organization) %>
    <%= link_to "Edit", edit_organization_path(@organization), class: "btn-primary" %>
    <%= link_to "View Analytics", analytics_organization_path(@organization), class: "btn-primary" %>
    <%= button_to "Destroy this organization", @organization, method: :delete, class: "btn-danger" %>
  <% end %>

  <% if member_for?(@organization) || admin_for?(@organization) %>
    <%= link_to "Back to organizations", organizations_path, class: "btn-primary" %>
  <% end %>
</div>
